# DOCKER COMPOSE CONFIGURATION
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=portfolio_db

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# APP
PORT=3000
NODE_ENV=development

# REQUIRED SECRETS
# Generate three different random values with at least 32 characters each.
JWT_SECRET=
JWT_REFRESH_SECRET=
I18N_WEBHOOK_SECRET=
